<div class="container-fluid max-height-container">
    <div class="row py-2">
        <div class="col-12">
            <button class="btn btn-info" routerLink="/viewer" routerLinkActive="active">Back</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-3">
            <svg:svg viewBox="0 0 500 250">
                <svg:g *ngIf="img">
                    <svg:g [innerHTML]="svg"></svg:g>
                </svg:g>
            </svg:svg>
        </div>
    </div>
    {{ datasetId }} {{ imgId }} {{ entries }}
</div>
<ng-template #noData>
    <app-no-data></app-no-data>
</ng-template>

