<div class="container-fluid max-height-container">
    <div class="row py-2">
        <div class="col-12">
            <button class="btn btn-info" routerLink="/viewer" routerLinkActive="active">Back</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-3">
            <img *ngIf="img; else noData" [src]="sanitize(img.url)" class="img-fluid">
        </div>
    </div>
    {{ datasetId }} {{ imgId }} {{ entries }}
</div>
<ng-template #noData>
    <app-no-data></app-no-data>
</ng-template>

