<div class="container-fluid max-height-container">
    <div class="row py-2">
        <div class="col-12">
            <button class="btn btn-info" routerLink="/viewer" routerLinkActive="active">Back</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-3">
            <div id="svg-div"></div>
        </div>
        {{ datasetId }} {{ imgId }} {{ entries }}
    </div>
    <div class="row">
        <div class="col-12">
            <div class="list-group">
                <button type="button"
                        *ngFor="let cat of fakeCats"
                        (click)="handleCatSelection(cat)"
                        class="list-group-item list-group-item-action"
                        [class.active]="activeCat === cat">
                    {{cat.name}}
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngIf="activeCat" class="col-12">
            <button *ngIf="activeCat.hasKeypoints" class="button btn-primary" (click)="drawKeypoints()">Keypoints</button>
            <button *ngIf="activeCat.hasBbox" class="button btn-primary" (click)="drawBbox()">Bbox</button>
            <button *ngIf="activeCat.hasMask" class="button btn-primary" (click)="drawMask()">Mask</button>
        </div>
    </div>
</div>
<ng-template #noData>
    <app-no-data></app-no-data>
</ng-template>

