.no-data--container {
    height: 90vh;
    & > .row {
        height: 100%;
        text-align: center;
        color: #556677;
    }
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}
