/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.empty-bg {
    background-color: rgba(119, 136, 153, .30);
}

.max-height-container {
    height: 90vh;
    &--index {
        height: 100vh;
    }
}

.loading-placeholder {
    width: 200px;
    margin: auto;
}
