<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-info" (click)="onClickNew()">New</button>
        </div>
    </div>
    <div class="row viewer-container">
        <div class="col-md-3">
            <app-table
                *ngIf="!noEntries"
                [entries]="datasets"
                (activeDatasetId)="logActiveDS($event)">
            </app-table>
        </div>
        <div class="col-md-9">
            <app-preview></app-preview>
        </div>
    </div>
</div>

