<div class="container-fluid max-height-container">
    <div class="row py-2">
        <div class="col-12">
            <button type="button" class="btn btn-info" (click)="onClickNew()">New</button>
            <button type="button" class="btn btn-info" (click)="logDS()">Log</button>
        </div>
    </div>
    <div class="row viewer-container">
        <div class="col-md-3">
            <app-table
                *ngIf="!noEntries; else noData"
                [entries]="datasets"
                (activeDatasetId)="previewDS($event)">
            </app-table>
            <ng-template #noData>
                <app-no-data></app-no-data>
            </ng-template>
        </div>
        <div class="col-md-9">
            <app-preview [datasetId]="activeDSid"></app-preview>
        </div>
    </div>
</div>

