<div class="list-group">
    <!--<a *ngFor="let entry of _entries"-->
       <!--(click)="chooseDataset(entry)"-->
       <!--class="list-group-item list-group-item-action"-->
       <!--[class]="activeSet === entry.id ? 'active' : 0">-->
        <!--{{entry.name}}-->
    <!--</a>-->
    <button type="button"
            *ngFor="let entry of _entries"
            (click)="chooseDataset(entry)"
            class="list-group-item list-group-item-action"
            [class.active]="activeSet === entry._id">
        {{entry.name}}
    </button>
</div>
